html, body{
  height: 100%;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  cursor: pointer;
}
body.wie{
  font-weight: normal;
}
body.font12 {
  font-size : 12px;
}
body.font14 {
  font-size : 14px;
}
body.font16 {
  font-size : 16px;
}
body h2 {
  font-size: 1.6em;
}
body h3 {
  font-size: 1.3em;
}

#logo img {
  width: 49%;
}
div.cms {
  display: inline-block;
  width: 100%;
  color: inherit !important;
  border: 1px solid transparent;
  position: relative  !important;
  background: none !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
div.cms span {
  color: inherit !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.nowrap {
  white-space: nowrap;
}
.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
select.form-control {
  padding-left: 0px; padding-right: 0px;
}
.ckeditor {
  width: 600px;
  height: 400px;
  border: 1px solid #CCCCCC;
}
.container {
	border: 1px solid #CCCCCC;
	border-left: 3px solid rgb(106, 86, 149);
  	margin-top: 1em;
	margin-bottom: 1em;
}
.btn.btn-default {
  background: rgb(106,86,149);
  border-color: rgb(106,86,149);
  border-radius: 0;
  color: #FFFFFF;
  text-shadow: none;
}
.btn.btn-primary {
  width: 100%;
  background: rgb(106,86,149);
  border-color: rgb(106,86,149);
  border-radius: 0;
}
.btn.btn-default:active, .btn.btn-primary:active, .btn.btn-default:hover, .btn.btn-primary:hover{
  color: #FFF;
  background: rgb(106,86,149);
  border-color: rgb(106,86,149);
}
.height0_wrapper {
  height: 0px;
}
.back {
  padding-top: 1em;
}
.rowbtn {
  margin-top: 1em;
}

.list-group-item .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-group-item span.tag {
  margin-right: 3em;
}
.list-group-item.toRemove {
  background-color: rgba(255,0,0,0.2) !important;
}
.na-wrapper {
  padding: 1em;
}

h1.page_header {
  font-size: 2em;
  padding: 0.66em 0;
  border-bottom: 1px solid #CCCCCC;
  margin: 0.5em 0;
  margin-bottom: 1em;
  color: rgb(106,86,149);
  font-weight: 300;
}
#msg_wrapper {
  height: 1.5em;
    color: red;
    font-weight: bold;
}
header .row1 {
	background: #b6b6b6;
}
header .row1 .dropdown {font-size: 1.5em; margin-right: 0.3em; line-height: 2em }
header .row1 .dropdown a { color: #282828; cursor: pointer; }
header .row1 .dropdown .caret { color: #808080; }

header .row1 .dropdown a:hover{
	text-decoration: none; 
} 
header .row1 ul {
	list-style: none;
	margin: 0;
	padding:0;
  position: absolute;
  right: 0px;
}
header .row1 #header_portal_nav li {
	font-size: 1.5em;
  line-height: 2em;
  padding: 0 1.5em;
  display: inline-block;
  position: relative;
  background-image: linear-gradient(-75deg, transparent 0% , transparent 9% , #cacaca 10%, #cacaca 90%, transparent 91%, transparent);
}

header .row2 {
	padding-top: 1em;
	border-bottom: 5px solid rgb(106,86,149);
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.3);
  margin-bottom: 0.5em;
}
header .row2 img{
      height: 50px;
    margin-bottom: 10px;

}

header .row_wie {
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 0 .5em .5em rgba(0,0,0,0.1);
  margin-bottom: 1em;
}
main {
  display: inline-block !important;
  width: 100%;
  min-height: 70%;
}
.college-link {
  height: 30px;
  
}

.college-link ul {
  height: 32px;
  list-style: none;
  display: inline-block; margin: 0; padding: 0;
  background: rgb(106,86,149);
  position: relative;
}
.college-link ul::before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  border: 16px solid transparent;
  border-right-color: rgb(106,86,149);
  border-bottom-color: rgb(106,86,149);
}
.college-link li {
  float: left;
  
  color: #FFFFFF;
  padding: 0.5em;
}
.college-link a {
  color: #FFFFFF;
}
.breadcrumbs {
  white-space: nowrap;
  padding: 1em 0em;
  text-align: left;
}
footer {
	background: #FFFFFF;
	width: 100%;
}
footer #top-footer {
	padding: 2em 0;
}
footer #top-footer img {
  max-width: 100%;
  margin-bottom: 1em;
}
footer #top-footer .text-right img {
  height: 36px;
}
footer #bottom-footer {
  background: #E6E6E6;
  padding: 2em 0;
}
footer nav {
	text-align: center;
}
footer nav ul {
	margin: 0 auto;
    padding: 0;
    list-style: none;
    display: inline-block;
}
footer nav li {
    float: left;
    position: relative;
    padding: 0 .5em;
    display: inline-block;
}
footer nav li:not(:last-child):after {
    content: "|";
    position: absolute;
    right: -0.5em;
    top: 0em;
    height: 1em;
    width: 1em;
}

footer #copyright {
	text-align: center;
}
.btn-group-right>li {
  list-style: none;
  float: left;
  display: inline-block;
}
.btn-group-right {

} 
#login #announce_wrapper,
#login #loginform_wrapper {
  margin-bottom: 5em;
  margin-top: 1em;
}
#login .announce_card {
  background: rgb(241,241,241);
  padding: 1.2em;
  margin-bottom: 1em;
  text-align: justify;
}
#login .announce_card h2 {
  font-size: 2em;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
  margin: 0em;
  margin-bottom: 0.5em;
  color: rgb(111, 84, 153);
  font-weight: 300;
}

#disclaimer #disclaimer_wrapper {
  margin-bottom: 3em;
  border-bottom: 5px solid #CCCCCC;
  padding-bottom: 1em;
  min-height: 300px;
}
#disclaimer #disclaimer_action {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 5em;
}
#home #home_banner {
  background-image: url(../images/banner01.png), 
                    linear-gradient(90deg, rgb(226, 226, 226), rgb(226, 226, 226) 49.9%, rgb(189, 177, 168) 50%, rgb(189, 177, 168));
  background-color: rgb(226, 226, 226);
  font-size: 2em;
  line-height: normal;
  height: 344px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top center;
}
#home #home_banner>div{
  position: relative;
  top: 50%;
}
#home #home_banner p {

    font-size: .6em;
    line-height: 1.4;
}
#home #banner {
  position: absolute;
  transform: translateY(-50%);
}
#home #home_menu {
  background-color: #F5F5F5;
  text-align: center;
}
#home #home_menu>.wrapper {
  display: inline-block;
}
#home #home_menu>.wrapper>p {
  font-size: 1.3em;
  margin: 1em 0;
}
#home #home_menu ul {
  margin: 0;
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
  list-style: none;

}
#home #home_menu li {
  margin: 0;
 
  padding: 2em;
  height: 300px;
  list-style: none;
  text-align: center;
  background-color: white;
  cursor: pointer;
}
#home #home_menu li:last-child {
 margin-bottom: 3em;
}
#home #home_menu li div{
  height: 135px;
  color: rgb(106,86,149);
  text-shadow: 0 0 1em rgba(0,0,0,0.2);
}
#home #home_menu li a{
  color: inherit;
}
#home #home_menu li div .fas {
  font-weight: 100;
}
#home #home_menu li h4 {
  display: block;
  text-align: center;
  font-size: 2em;
  line-height: 1em;
  color: rgb(111, 84, 153);
}
#home #home_menu li a:hover {text-decoration: none;}


#home #options_list ul {
  margin: 0; padding: 0;
  font-size: 1.2em;
}
#home #options_list li {
  background-color: rgb(228,228,228);
  list-style: none;
  margin: 0;
  margin-bottom: 1em;
  padding: .5em;
}

#home #options_list li a {
  color: inherit;
  white-space: nowrap;
}

#home #options_list li:hover a, #home #options_list li a:active {
  color: rgb(111, 84, 153);
}
#home #options_list li img {
  width: 50px;
}

#loginReminderModal .modal-content {
  border-radius: 0;
}

#loginReminderModal .modal-header {
  border-bottom: 5px solid rgb(111, 84, 153);
  box-shadow: 0px 3px 3px #cccccc;
  margin-bottom: 3px;
  font-weight: normal;
}
#loginReminderModal .modal-title {
  font-size: 1.3em;
}
#loginReminderModal .announce_card {
  font-size: 1.2em;
}
#loginReminderModal .announce_card:not(:first-child) {
  border-left: 1px dashed #CCCCCC;
}
#loginReminderModal .modal-body {
  background: #FAFAFA;
}

#cv_wrapper {
  font-size: 1.2em;
  font-weight: normal;
  min-height: 800px;
}
#cv_wrapper .nav-pills>li>a {
  padding: 10px 5px;
  padding-left: 35px;
  font-size: 0.8em;
}
#cv_wrapper h2 {
  min-width: 220px;
}
#cv_wrapper .modal-body{
  display: inline-block;
  width: 100%;
}
#cv_wrapper .tips {
  padding-left: 0;
}
#cv_wrapper .tips>div{
  background-color: #F3F3F3; 
  min-height: 300px;
  padding: 1em
}


#cv_wrapper .tips h4{
  color: rgb(106,86,149);
  font-weight: normal;
}

#formError {
  font-weight: normal;
}

.tips-mobile {
    position: fixed;
    bottom: 0px; 
    width: 100%;
    transition: all .3s ;
    font-size: 1.2em;
    padding: 0em;
    
    text-align: center;
    height: 0px; 
    overflow: hidden;
    background-color: rgb(106,86,149);
    font-weight: bold;
    color: #FFFFFF;
    z-index: 4;
}
.tips-mobile.show {
  padding: 0.3em;
  padding-bottom: 2em;
  height: auto;
}
.tips-mobile a {
  color: #FFFFFF;
     
}

.w-xs-100 { width: 100%; }



.panel.panel-basic { border-color: #ddd; }
.panel.panel-basic>.panel-heading { color: #333; background-color: #f5f5f5; border-color: #ce1437;     background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);}
.panel.panel-basic>.panel-heading+.panel-collapse>.panel-body { border-top-color: #ddd; }

.panel.panel-education { border-color: #ddd; }
.panel.panel-education>.panel-heading { color:  #333; background-color: #f5f5f5; border-color: #fda45c;     background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);}
.panel.panel-education>.panel-heading+.panel-collapse>.panel-body { border-top-color: #ddd; }

.panel.panel-experience { border-color: #ddd; }
.panel.panel-experience>.panel-heading { color:  #333; background-color: #f5f5f5; border-color: #faebcc;     background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);}
.panel.panel-experience>.panel-heading+.panel-collapse>.panel-body { border-top-color: #ddd; }

.panel.panel-qualification { border-color: #ddd; }
.panel.panel-qualification>.panel-heading { color:  #333; background-color: #f5f5f5; border-color: #d6e9c6;     background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);}
.panel.panel-qualification>.panel-heading+.panel-collapse>.panel-body { border-top-color: #ddd; }

.panel.panel-achievements { border-color: #ddd; }
.panel.panel-achievements>.panel-heading { color:  #333; background-color: #f5f5f5; border-color: #d6e9c6;     background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);}
.panel.panel-achievements>.panel-heading+.panel-collapse>.panel-body { border-top-color: #ddd; }

.panel.panel-skills { border-color: #ddd; }
.panel.panel-skills>.panel-heading { color:  #333; background-color: #f5f5f5; border-color: #d7bcf1;     background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);}
.panel.panel-skills>.panel-heading+.panel-collapse>.panel-body { border-top-color: #ddd; }

.panel.panel-other { border-color: #ddd; }
.panel.panel-other>.panel-heading { color:  #333; background-color: #f5f5f5; border-color: #bce8f1;     background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);}
.panel.panel-other>.panel-heading+.panel-collapse>.panel-body { border-top-color: #ddd; }

.panel.panel-interview { border-color: #ddd; }
.panel.panel-interview>.panel-heading { color:  #333; background-color: #f5f5f5; border-color: #d7bcf1;     background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);}
.panel.panel-interview>.panel-heading+.panel-collapse>.panel-body { border-top-color: #ddd; }

.panel-education label { width: 100%; }

#cv_action {
  text-align: center;
  margin: 1em auto 3em;
  clear: both;
}
#joblist_wrapper>ul{
  min-height: 300px;
}
#joblist_wrapper>div{
  padding: 0 1em;
  margin: 10px 0;
}
#joblist_wrapper>.headrow {
  padding: 0em;
  margin: 1em -15px 1em;
  height: 1em;
}
#joblist ul#list, #joblist ul#job_preference {
  margin: 0;
  padding: 0;
  list-style: none;
}

#joblist ul#list li{
  margin: 0;
  margin-bottom: 2px;
  padding: 1em;
  list-style: none;
  background: #f1f1f1;
  position: relative;
}

#joblist ul#list li:hover,
#joblist ul#job_preference li:hover {
  background: #F8F8F8;
}

#joblist .status {
  text-align: right;
}

ul.job_preference {padding: 0}
ul#job_preference li, ul.job_preference li {
  margin: 0;
  margin-bottom: 2px;
  padding: 1em;

  list-style: none;
  background: #f1f1f1;
  position: relative;
  display: inline-block;
    width: 100%;
}

#joblist ul#list li .viewbtn  { float: right; }
#joblist ul#job_preference li .viewbtn { float: right; width:25%; }
#joblist ul#list li .position,
#joblist ul#job_preference li .position { line-height: 1.5em; font-weight: normal;}
#joblist ul#list li .company,
#joblist ul#job_preference li .company { line-height: 1.5em; font-weight: normal; }
#joblist ul#job_preference li .btn-up, 
#joblist ul#job_preference li .btn-down { color: rgb(106,86,149); } 
#joblist ul#job_preference li:first-child a.btn-up {display: none}
#joblist ul#job_preference li:last-child a.btn-down {opacity: 0}

.joblist .nav-pills>li>a { padding: 10px ; }

#job_confirm  ul#job_preference { min-height: 300px; padding-left: 0;}


#jobdetails ul#details {
  padding: 0px;
  margin: 0px;
  font-weight: 300;
  color: #000000;
}
#jobdetails ul#details li {
  margin: 0;
  margin-bottom: 2px;
  padding: 1em;
  list-style: none;
  background: #f1f1f1;
  position: relative;
}
#jobdetails ul#details li:nth-child(2n) {
  background: #FFF;
}
#jobdetails ul#details li label {
  width: 100%;
  font-weight: 400;
  font-size: 1.2em;
}

#jobdetails .action {
  padding: 2em 0;
  border-top: 5px solid #F0F0F0;
  text-align: center;
}
#wie_login #announce_wrapper,
#wie_login #loginform_wrapper {
  margin-bottom: 5em;
  margin-top: 1em;
}

#wie_login .announce_card {
  background: rgb(241,241,241);
  padding: 2em;
  margin-bottom: 1em;
  text-align: justify;
}
#wie_login .announce_card h2 {
  font-size: 2em;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
  margin: 0em;
  margin-bottom: 0.5em;
  color: rgb(106, 86, 149);
  font-weight: 300;
}
#wie_login #curr_time {
  margin-bottom: 3em; display: inline-block;
}


#wie-home #home_menu {background-color: #F5F5F5; text-align: center; }
#wie-home #home_menu h1 {clear:both;}
#wie-home #home_menu>.wrapper>p {font-size: 1.3em; margin: 1em 0; }
#wie-home #home_menu>.wrapper>ul {margin: 0; padding: 0;  list-style: none; }
#wie-home #home_menu>.wrapper>ul>li {margin: 0; padding: 2em; height: 300px; list-style: none; text-align: center; background-color: white; cursor: pointer; }
#wie-home #home_menu>.wrapper>ul>li div{height: 135px; color: rgb(106, 86, 149); text-shadow: 0 0 1em rgba(0,0,0,0.2); }
#wie-home #home_menu>.wrapper>ul>li div .fas {font-weight: 100; }
#wie-home #home_menu>.wrapper>ul>li div.dropdown {height: 75px;}

#wie-home #home_menu>.wrapper>ul>li a {display: block; text-align: left; font-size: 2em; line-height: 3em; color: rgb(106, 86, 149); }
#wie-home #home_menu>.wrapper>ul>li a:hover {text-decoration: none;}
#wie-home #home_menu>.wrapper>ul>li span { text-align: left; }
#wie-home #home_menu>.wrapper>ul>li ul>li>a { font-size: 1em; line-height: 2em; color: #000; }



#wie-jobs ul#list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#wie-jobs ul#list li{
  margin: 0;
  margin-bottom: 2px;
  padding: 1em;
  padding-left: 3em;
  list-style: none;
  background: #f1f1f1;
  position: relative;
}
#wie-jobs ul#list li:hover {
  background: #F8F8F8;
}
#wie-jobs ul#list li::before {
  position: absolute;
  content: "";
  width: 0.75em;
  height: 0.75em;
  left: 1em;
  top: 1.2em;
  border-radius: 50%;
  background-color: rgb(106,86,149);
}

#wie-jobs ul#list li .viewbtn { float: right; }
#wie-jobs ul#list li .position { line-height: 1.5em; font-weight: normal;}
#wie-jobs ul#list li .company { line-height: 1.5em; font-weight: normal; }

#wie-jobs_form { padding: 2em 0; background-image: linear-gradient(rgba(128,128,128,0.4), rgba(128,128,128,0.4) 50%, rgba(128,128,128,0)); }
#wie-jobs_create .action { text-align: center; }
#jobs_form { padding-top: 3em; }

#jobs_form div.target, #jobs_form div.privilege  {margin-bottom: 0px; padding: 1em 0;}
#jobs_form div.target:nth-child(2n-1), #jobs_form div.privilege:nth-child(2n-1) { background: rgba(106,86,149,0.1); }


#jobs_form .target:hover, #jobs_form .privilege:hover { background: rgba(106,86,149,0.2) !important; }

#jobs_form .aRemove, #jobs_form .aAddRow  { cursor: pointer }
#new_cv .nav span.fa, #choose_content .nav .fa {
    text-indent: 0px;
    position: relative;
    padding-left: 1.5em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    white-space: nowrap;
}
#new_cv .nav span.fa { margin-left: -30px; }
#choose_content .nav .fa { margin-left: 0px; }

#new_cv .nav span.fa::before, #choose_content .nav .fa::before {
    position: absolute;
    left: 0px;
    font-family: Font Awesome\ 5 Free;
    text-align: center;
    width: 1em;
}
#new_cv .nav span.fa::before {
  
    top: -1em;
}
#new_cv .tab-content {
  min-height: 500px;
}
#mobile-menu {
  margin-right: -15px;
}
#mobile-menu .dropdown-toggle{
  font-size: 2em;
}

#mobile-menu .dropdown-menu {
  width: 300px;
}

 .nav.nav-step, .joblist .nav.nav-step { overflow: hidden; }
 .nav.nav-step li, .joblist .nav.nav-step li {width: 32%; margin-left: 1%; float: left; display: inline-block; padding: 2em ; position: relative; text-align: center; white-space: nowrap;}
 .nav.nav-step li::before, 
 .nav.nav-step li::after,
.joblist .nav.nav-step li::before, 
.joblist .nav.nav-step li::after {content: ""; position:absolute; 
    width: 100%;
    height: 50%;
    left: 0px;
}
 .nav.nav-step li::before, .joblist .nav.nav-step li::before {
  top: 0px;
  transform: skewX(40deg);  
  background-image: linear-gradient(rgba(128,128,128,0.5), rgba(128,128,128,0.3) 66.67%, rgba(128,128,128,0.1));
}
 .nav.nav-step li::after, .joblist .nav.nav-step li::after {
  bottom: 0px;
  transform: skewX(-40deg);  
  background-image: linear-gradient(rgba(128,128,128,0.1), rgba(128,128,128,0.3) 33.67%,  rgba(128,128,128,0.5));
}
 .nav.nav-step li:first-child, .joblist .nav.nav-step li:first-child {  width: 34%; margin-left: 0px;}

.nav.nav-step li:first-child::before, .nav.nav-step li:first-child::after,
.joblist .nav.nav-step li:first-child::before, .joblist .nav.nav-step li:first-child::after { left: -1.2em; width: calc(100% + 1.2em);}
 .nav.nav-step li:last-child::before, .nav.nav-step li:last-child::after, 
.joblist .nav.nav-step li:last-child::before, .joblist .nav.nav-step li:last-child::after 
{  width: calc(100% + 1.2em);}

.nav.nav-step li.active::before, 
.joblist .nav.nav-step li.active::before {
  background-image: linear-gradient(rgba(106,86,149,1), rgba(106,86,149,0.94) 66.67%, rgba(106,86,149,0.8));
  z-index: -1;
}
.nav.nav-step li.active::after,
.joblist .nav.nav-step li.active::after{
  background-image: linear-gradient(rgba(106,86,149,0.8), rgba(106,86,149,0.94) 33.67%,  rgba(106,86,149,1));
  z-index: -1;
}
.nav.nav-step li.active, .joblist .nav.nav-step li.active {
  z-index: 5;
  font-weight: bold;
  color: #FFFFFF;
}

.nav-step+.nav-pills>li.active>a {
  background-color: #6e5399;
  font-weight: 700;
}

.joblist .nav.nav-step li:first-child {  width: 25%; }
.joblist .nav.nav-step li {width: 24%;}

.nav.nav-step li a, 
.joblist .nav.nav-step li a  {
  padding: 0;
  color: inherit;
  background: none;
}
.select2 {width: 100% !important;}

.education-date {
  display: inline-block;
  margin-right: 0.5em;
  color:  #8f4c15; 
  padding: 0 0.5em;
  border: 1px solid #fda45c;
  border-radius: 2px;
}



.btn-sm.btn-primary {
  width: auto !important; 
}
.btn.btn-achievements {
    color: #6a5695;
    background-color: #EFEFEF;
    background-image: -webkit-linear-gradient(top,#EFEFEF 0,#EFF8EF 100%);
    background-image: -o-linear-gradient(top,#EFEFEF 0,#EFF8EF 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#EFEFEF),to(#EFF8EF));
    background-image: linear-gradient(to bottom,#EFEFEF 0,#EFF8EF 100%);

    background-repeat: repeat-x;
    border-color: #6a5695;
    font-size: 1em;
    padding: 0.5em 0.7em;
}


.btn.btn-achievements.active {
    color: #fff;
    background-color: rgb(106, 86, 149);
    
    background-image: -webkit-linear-gradient(top, rgb(106, 86, 149) 0, #a99dc3 100%);
    background-image: -o-linear-gradient(top, rgb(106, 86, 149) 0, #a99dc3 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(106, 86, 149)),to(#419641));
    background-image: linear-gradient(to bottom, rgb(106, 86, 149) 0, #a99dc3 100%);
    
    background-repeat: repeat-x;
    border-color: #6a5695;
    outline:none;
}
.panel-achievements .btn-group{
  margin-bottom: .3em;
}
#achievements3 h2 {
  background: linear-gradient(90deg,  rgb(106, 86, 149) , rgba(106, 86, 149, 0));
  font-size: 1.2em;
  line-height: 2;
  color: #FFFFFF;
  padding-left: .5em;
}

#modalExam li, #modalExam_edit li {
    list-style: none;
    width: 100%;
    display: inline-block;
    float: left;
    position: relative;
    padding: .3em 0em;
}

#modalExam select,
#modalExam_edit select {
  border: 1px solid #999999;
}

#modalExam select.error,
#modalExam_edit select.error {
  background-color: rgba(255,0,0,0.2);
  border-color: #DE0000;
  color: #DE0000;
}

.form-control.error, .has-error .form-control {
  background-color: rgba(255,0,0,0.2);
  border-color: #FF0000 !important;
  color: #FF0000;
}



#modalExam li .addon, #modalExam_edit li .addon { position: absolute; top: 50%; right: 0px; height: 100%; }
#modalExam li .addon .btn, #modalExam_edit li .addon .btn{
  transform: translateY(-50%);
}
#language_list { min-width: 200px; }


.panel-other textarea { width: 100%; height: 200px; border: 1px solid #CCCCCC ; box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);}


#modalOtherSkill .modal-content, #modalOtherSkill_edit .modal-content {min-width: 100%;}
#modalOtherSkill .modal-content textarea, #modalOtherSkill_edit .modal-content textarea {width: 100%; height: 200px}
#modalOtherSkill .modal-content textarea {border: 1px solid #CCCCCC;}
#modalSendCV .modal-content, #modalSendFSCC .modal-content {width: 100%;}
#modalSendCV .modal-content textarea, #modalSendFSCC .modal-content textarea {width: 100%; height: 200px}


.monthpicker_modal .xdsoft_calendar {display: none;}
.cmsView {min-height: 1em;}
.cmsView:hover {border: 1px dashed #CCCCCC;  }
.cmsView::before {content: attr(data-cms-title); position:absolute; top: -1em; right:0px; background: black; color: white; font-weight: normal; padding:2px; line-height: 1em; display: none}
.cmsView:hover::before {display: block} 

.app_no {margin: 5em 0;}
.app_no span {
    display: inline-block;
    font-size: 1.2em;
    padding: 1em 6em;
    background: #CCCCCC;
    font-weight: 700;
    letter-spacing: 1px;
    width: 100%;
    margin: 0 auto;
}
#job_complete .saveRow {
  margin: 5em auto;
}
#choose_content .list { padding: 0; }
#choose_content .list li{
  display: inline-block;
  width: 100%;
  clear:both;
  margin-bottom: 0.5em;
  padding: 10px 15px;
  background-color: #EFEFEF;
}
#choose_content .list label {
  display: block;
}
.cv-addon {width: 1.8em}
.cv-addon, .cv-addon+div {
  float:left;
  display: inline-block;
}
.cv-addon+div {
  width: 80%;
}
#cv_wrapper .saveRow .btn{
  margin: 1em 0;
}
.bottomRow {
   margin: 1em 0;
   display: inline-block;
   width: 100%;
}
#choose_content iframe {width: 100%; height: 600px;}

body.template { background: #808080; ;}
body.template main { width: 100%; transform: scale(0.9); transform-origin: left top; margin: 0 auto; display: block !important; background: #FFF; padding:1em; box-shadow: .5em .5em 1em #404040}
body.template img { float:right; max-width: 100px; }
body.template table { width: 100%; transform: scale(0.9); transform-origin: left top; }
body.template td p {margin: 0;}

body#template1 { font-family: dejavusans, Tahoma; }
body#template1 h1 { font-size: 14px;}
body#template1 h2 { font-size: 12px; margin: 0; margin-bottom: 10px; padding: 0; border-bottom: 1px solid #000;  }
body#template1 h3 { font-size: 14px; }
body#template2 { font-family: Tahoma; }
body#template2 h2 { background: #CCCCCC; padding: 5px;  font-size: 1em;}
body#template3 { font-family: Tahoma; }
body#template3 h2 { text-transform: capitalize; color: #406696; border-bottom: 1px solid #406696; font-size: 1.2em; }
body#template3 h3 { font-size: 14px; color: #406696; }
body#template3 h3 span {  color: #000000; }
body#template4 {font-family: serif; }
body#template4 h1 { font-size: 16px; }
body#template4 h2 { font-size: 14px; border-bottom: 1px solid #000; }
body#template4 .twrapper { overflow: hidden; }
body#template5 { font-family: dejavusans, Arial; }
body#template5 h1 { font-size: 16px; text-align: center;}
body#template5 h2 { font-size: 16px;}

#jobs_panel {background: #EFEFEF; padding: 1em; margin-bottom: 1em;}
#jobs_panel .nav-pills>li:not(.disabled)>a {color: #6e5399;} 
#jobs_panel .nav-pills>li.active>a,
#jobs_panel .nav-pills>li.active>a:focus,
#jobs_panel .nav-pills>li.active>a:hover { color: #FFFFFF; background-color: #6e5399; }
#jobs_panel .row+.row {margin-top: 1em;}

#wie-report section {margin-top: 2em;}
#wie-report .panel-body { overflow: auto; }

*[data-cms-title] {min-height: 1em;}

.ajax-upload input[type=file]{ opacity: 0; position: absolute; top: auto; left: 0; z-index: 10;}
.link a { border: 1px solid; padding: .2em .5em; border-radius: .3em;}
.link a:hover {text-decoration: none; background-color: #337ab7; color: #FFFFFF;}

#cvlist_wrapper ul {padding: 0; list-style: none;}
#cvlist_wrapper li {padding-bottom: 2em;}
#application_form th, #application_form td {font-size: 1em; padding: .2em .5em;}

#application_form>.wrapper>table { width: 640px; }
#application_form table tr:first-child {background-color: #CCCCCC; text-align: center;}
#application_form table tr:first-child h3 {text-align: center; font-size: 1.1em; margin: 10px auto;}

#application_form table table tr:first-child {background-color: transparent;}

#job_selfassess #joblist_wrapper ul { padding: 0em; }
#job_selfassess #joblist_wrapper li { list-style: none; padding-top: 0.5em; padding-bottom: 0.5em;}
input[type=checkbox].agree {margin: 0em 1em}

.application {margin: 1em 0em;}
.application_header {padding: 1em 0em; display: inline-block; width: 100%;}

.pdf-icon {font-size: 320px; text-align: center;}

#batch_offering .btn {border: 1px solid #ddd;}
#batch_offering .btn:hover, #batch_offering .btn-selected {background: rgb(106,86,149); color: #FFF;}

.wie .member_row {margin: 1em 0;}
.wie h1 {font-size: 26px;}
.wie h1.page_header { clear: both; }

#wie-report #appl_list { margin: 0; padding: 0; }
#wie-report #appl_list::before { content: "Application: "; }
#wie-report #appl_list li { margin: 0; padding: 0; border: 1px solid #808080; border-radius: 3px; margin-right: .5em;}

@media (min-width: 425px) {
  body.template main {  transform: scale(1); }
  body.template table {  transform: scale(1); }

  body#template1 h1 { font-size: 36px;}
  body#template1 h2 { font-size: 24px;}
  body#template1 h3 { font-size: 24px;}

  body#template3 h3 { font-size: 20px; }
  body#template4 h1 { font-size: 36px; }
  body#template4 h2 { font-size: 24px; }
  body#template4 h3 { font-size: 20px; }

  body#template5 h1 { font-size: 36px; }
  body#template5 h2 { font-size: 24px;}


  body.template img {  max-width: 150px; }
}

@media (min-width: 768px) {
  
  body.font12 h1 {
    font-size: 36px;
  }
  body.font14 h1 {
    font-size: 42px;
  }
  body.font16 h1 {
    font-size: 48px;
  }

  h1.page_header {
    
    margin-left: 0.5em;
    margin-right: 0.5em;
  }


  header .header_row {
    margin-right: -30px;
    margin-left: -30px;
  }

  footer #top-footer .text-right img {
    height: 40px;
  }

  #logo img {
    width: auto;
    height: 57px;
  }
  #logo a:nth-child(2) img {
    height: 49px;
    margin-left: 30px;
  }

  .wrapper {
    width: 750px;
  }

  #login .announce_card {
    padding: 2em;
  }
  #home #options_list li a {
    font-size: 1.3em;
  }
  #home #options_list li img {
    width: 80px;
  }

  .nav.nav-step li, .joblist .nav.nav-step li {
    padding-left: 5em; 
    padding-right: 5em; 
  }
  .list-group-item>div:not(.addon) {
    width: calc(100% - 80px);
  }
  .list-group-item .addon {
    position: absolute;
    top: 50%;
    right: 0px;
    height: 100%;
  }
  .list-group-item .addon .btn{
    transform: translateY(-50%);
  }
  #modalOtherSkill .modal-content, #modalOtherSkill_edit .modal-content {width: 640px;}
  #modalSendCV .modal-content, #modalSendFSCC .modal-content {width: 640px;}

  .cv-addon+div {
    width: 90%;
  }

	#joblist ul#list li{
	  margin: 0;
	  margin-bottom: 2px;
	  padding: 1em;
	  padding-left: 3em;	  
	  position: relative;
	}
	#joblist ul#list li::before {
	  position: absolute;
	  content: "";
	  width: 0.75em;
	  height: 0.75em;
	  left: 1em;
	  top: 1.2em;
	  border-radius: 50%;
	  background-color: rgb(159, 37, 50);
	}
  #joblist .status {
    text-align: center;
  }
  #jobdetails ul#details li label {
    width: 50%;
  }
  footer nav li  {
    padding-left: 1em;
    padding-right: 1em;
  }
  #wie-home #home_menu>.wrapper>ul {
    height: 350px;
  }

  #choose_content .nav .fa { margin-left: -30px; }
  body.template main { transform: scale(0.8); transform-origin: center top;} 
}
@media (min-width: 992px) {
  
  .wrapper {
    width: 970px;
  }

  footer #top-footer .text-right img {
    height: 50px;
  }

   #home #options_list li img {
    width: 100px;
  }

  #jobdetails ul#details li label {
    width: 33%;
  }
  #cv_wrapper .tips>.sticky{
    position:fixed;
    top: 5px;
    width: 250px;
  }
  #application_form>.wrapper>table { width: 800px; }

  body.template main { width: 800px; transform: scale(1); }
}
@media (min-width: 1200px) {
  
	.container {
	    width: 1140px !important;
	}
	.container.col-md-4{
		width: 33.33333333% !important;
	}
  .wrapper  {
    width: 1140px;
  }
  #jobdetails ul#details li label {
    width: 25%;
  }
  #application_form>.wrapper>table { width: 1000px; }
}
