h2 {font-family: dejavusans; font-size: 16px; margin:0; padding:  0; }
h3 {font-family: dejavusans; font-size: 16px; margin: 5px; color: #406696; padding:  0;  }
h3 span { color: #000000; }
td { font-size: 14px;  line-height: 18px; }
p { margin: 0; }
ul { margin: -10px -30px; padding: 0; }
li { margin: 0; padding: 0; padding-left: 10px; }
.title { border-bottom: 1px solid #406696; padding-bottom: 5px; margin-bottom: 5px; padding-top: 5px; margin-top: 5px; color: #406696;}