h2 {font-family: dejavusans; font-size: 16px; margin:0; padding: 0;  }
td { font-size: 14px;  line-height: 20px; }
p { margin: 0; }
ul { margin: -10px; margin-left: -40px; padding: 0;   }
li { margin: 0; padding: 0; padding-left: 10px; }
.title { padding-bottom: 5px; margin-bottom: 5px; padding-top: 5px; padding-left: 5px; margin-top: 5px; background-color: #CCCCCC;}