h2 {font-family: dejavusans;  margin-top:0; margin-bottom:0; padding-top: 0; padding-bottom:  0; border-bottom: solid 5px #800000;}
h3 {font-family: dejavusans;}
h3 span {font-family: Times;}
td { font-size: 16px;  line-height: 20px; }
p { margin: 0; }
ul { margin: -10px; margin-left: -50px; padding: 0;  }
li { margin: 0; padding: 0; padding-left: 10px; }
.title {border-bottom: 1px solid #000000; padding-bottom: 5px; margin-bottom: 5px;}