h2 {font-family: Times; font-size: 20px; margin:0; padding:  0; }
p { margin: 0; }
td { font-size: 16px; font-family: Times;  line-height: 20px; }
ul { margin: -10px -30px; padding: 0;  }
li { margin: 0; padding: 0; padding-left: 10px; }
.title { border-bottom: 1px solid #000000; padding-bottom: 5px; margin-bottom: 5px; padding-top: 5px; margin-top: 5px;}
.twrapper { width: 80%; }
