BODY {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 8pt;
	BACKGROUND: #f6f6f6;
	PADDING-BOTTOM: 0px;
	MARGIN: 5px;
	COLOR: #000;
	PADDING-TOP: 0px;
	FONT-FAMILY: verdana
}
TD {
	FONT-SIZE: 8pt
}
A {
	COLOR: #43589a
}
A:hover {
	COLOR: #ff1010;
	TEXT-DECORATION: none
}
#main {
	MARGIN-LEFT: auto;
	WIDTH: 750px;
	MARGIN-RIGHT: auto;
	TEXT-ALIGN: left
}
.top {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	FONT-SIZE: 8pt;
	BACKGROUND: #00004d;
	PADDING-BOTTOM: 5px;
	COLOR: #fff;
	PADDING-TOP: 5px;
	TEXT-ALIGN: right
}
.top A {
	COLOR: #fff;
	TEXT-DECORATION: none
}
.top A:hover {
	COLOR: #fff;
	TEXT-DECORATION: underline
}
.top2 {
	BACKGROUND: #fff
}
#outer2 {
	BACKGROUND: url(img/menu.gif) #b70000;
	COLOR: #fff
}
#main_body {
	BACKGROUND: #fff
}
.navlist LI {
	DISPLAY: inline
}
.navlist {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 2px;
	MARGIN: 2px;
	PADDING-TOP: 2px
}
.sqr {
	BACKGROUND: #bf0000;
	VERTICAL-ALIGN: middle
}
.sqr2 {
	BACKGROUND: #00004d;
	VERTICAL-ALIGN: middle
}
.navlist A {
	DISPLAY: block;
	PADDING-LEFT: 10px;
	FONT-SIZE: 8pt;
	BACKGROUND: #f5f5f5;
	PADDING-BOTTOM: 4px;
	COLOR: #000;
	PADDING-TOP: 4px;
	BORDER-BOTTOM: #fff 2px solid;
	TEXT-ALIGN: left;
	TEXT-DECORATION: none
}
.navlist A:hover {
	BACKGROUND: #bf0000;
	COLOR: #fff;
	BORDER-BOTTOM: #fff 2px solid
}
.menu {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	BACKGROUND: url(img/menu.gif) #b70000;
	CURSOR: pointer;
	HEIGHT: 30px
}
.menu A {
	FONT-WEIGHT: bold;
	FONT-SIZE: 7pt;
	COLOR: #fff;
	TEXT-DECORATION: none
}
.menu SPAN {
	FONT-SIZE: 10pt
}
.menu2 SPAN {
	FONT-SIZE: 10pt
}
.menu2 {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	BACKGROUND: url(img/menu2.gif) #b70000;
	CURSOR: pointer;
	HEIGHT: 30px
}
.menu2 A {
	FONT-WEIGHT: bold;
	FONT-SIZE: 7pt;
	COLOR: #fff;
	TEXT-DECORATION: none
}
.menu2 A:hover {
	FONT-WEIGHT: bold;
	FONT-SIZE: 7pt;
	COLOR: #fff;
	TEXT-DECORATION: none
}
.mainmenu6 {
	BORDER-RIGHT: #000 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #000 1px solid;
	PADDING-LEFT: 5px;
	FONT-SIZE: 7pt;
	BACKGROUND: #00004d;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #000 1px solid;
	CURSOR: pointer;
	COLOR: #fff;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #000 1px solid
}
.mainmenu6 A {
	COLOR: #fff;
	TEXT-DECORATION: none
}
.mainmenu6 A:hover {
	COLOR: #fff;
	TEXT-DECORATION: none
}
.mainmenu7 {
	BORDER-RIGHT: #bf0000 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #bf0000 1px solid;
	PADDING-LEFT: 5px;
	FONT-SIZE: 7pt;
	BACKGROUND: #b70000;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #bf0000 1px solid;
	CURSOR: pointer;
	COLOR: #fff;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #bf0000 1px solid
}
.mainmenu7 A {
	COLOR: #fff;
	TEXT-DECORATION: none
}
.mainmenu7 A:hover {
	COLOR: #fff;
	TEXT-DECORATION: none
}
.mainmenu6 {
	FONT-SIZE: 8pt
}
.mainmenu7 {
	FONT-SIZE: 8pt
}
INPUT {
	BORDER-RIGHT: #ccc 1px solid;
	BORDER-TOP: #ccc 1px solid;
	FONT-SIZE: 10pt;
	BACKGROUND: #fff;
	BORDER-LEFT: #ccc 1px solid;
	COLOR: #000;
	BORDER-BOTTOM: #ccc 1px solid
}

input[type="text"]{
	height:24px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}

SELECT {
	BORDER-RIGHT: #ccc 1px solid;
	BORDER-TOP: #ccc 1px solid;
	FONT-SIZE: 10pt;
	BACKGROUND: #fff;
	BORDER-LEFT: #ccc 1px solid;
	COLOR: #000;
	BORDER-BOTTOM: #ccc 1px solid
}
INPUT:hover {
	BORDER-RIGHT: #000 1px solid;
	BORDER-TOP: #000 1px solid;
	BORDER-LEFT: #000 1px solid;
	BORDER-BOTTOM: #000 1px solid
}
TEXTAREA:hover {
	BORDER-RIGHT: #000 1px solid;
	BORDER-TOP: #000 1px solid;
	BORDER-LEFT: #000 1px solid;
	BORDER-BOTTOM: #000 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #ccc 1px solid;
	BORDER-TOP: #ccc 1px solid;
	FONT-SIZE: 10pt;
	BACKGROUND: #fff;
	BORDER-LEFT: #ccc 1px solid;
	COLOR: #000;
	BORDER-BOTTOM: #ccc 1px solid
}
IMG {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	BORDER-LEFT: 0px;
	BORDER-BOTTOM: 0px
}
.header {
	FONT-SIZE: 8pt;
	BACKGROUND: #00004d;
	COLOR: #fff
}
.item2 {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	FONT-SIZE: 7pt;
	PADDING-BOTTOM: 2px;
	COLOR: #43589a;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #00004d 1px solid
}
.item2 A {
	COLOR: #43589a
}
.item2 A:hover {
	COLOR: #ff1010;
	TEXT-DECORATION: none
}
.border12 {
	BORDER-RIGHT: #00004d 1px solid;
	BORDER-TOP: #00004d 1px solid;
	BACKGROUND: #fff;
	BORDER-LEFT: #00004d 1px solid;
	BORDER-BOTTOM: #00004d 1px solid
}
.border13 {
	BORDER-RIGHT: #00004d 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #00004d 1px solid;
	PADDING-LEFT: 5px;
	BACKGROUND: #f8f8f8;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #00004d 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #00004d 1px solid
}
.border14 {
	BORDER-RIGHT: #00004d 1px solid;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #00004d 1px solid;
	BORDER-BOTTOM: #00004d 1px solid
}
.right {
	BORDER-LEFT: #5368aa 1px solid
}
.color {
	COLOR: #000
}
#topmenu {
	COLOR: #000
}
.red LI {
	COLOR: red
}
#bottom2 {
	BORDER-TOP: #ccc 1px solid
}
#bottom {
	FONT-SIZE: 9pt;
	BACKGROUND: #00004d;
	COLOR: #fff
}
#bottom A {
	COLOR: #fff;
	TEXT-DECORATION: none
}
#bottom A:hover {
	COLOR: #fff;
	TEXT-DECORATION: underline
}
.catBottom {
	BORDER-RIGHT: #d6d6d6 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 5px;
	BACKGROUND: url(img/bg_catbottom.gif) #fdfdfd repeat-x left top;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #fff 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #d6d6d6 1px solid
}
.cat {
	BORDER-RIGHT: #d6d6d6 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 5px;
	BACKGROUND: url(img/bg_catbottom.gif) #fdfdfd repeat-x left top;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #fff 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #d6d6d6 1px solid
}
.catLeft {
	BORDER-RIGHT: #d6d6d6 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 5px;
	BACKGROUND: url(img/bg_catbottom.gif) #fdfdfd repeat-x left top;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #fff 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #d6d6d6 1px solid
}
.catRight {
	BORDER-RIGHT: #d6d6d6 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 5px;
	BACKGROUND: url(img/bg_catbottom.gif) #fdfdfd repeat-x left top;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #fff 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #d6d6d6 1px solid
}
.row1 {
	BORDER-RIGHT: #d6d6d6 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #fff 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #d6d6d6 1px solid;
	BACKGROUND-COLOR: #f8f8f8;
	TEXT-ALIGN: left
}
.row2 {
	BORDER-RIGHT: #d6d6d6 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #fff 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #d6d6d6 1px solid;
	BACKGROUND-COLOR: #f8f8f8;
	TEXT-ALIGN: left
}
.row3 {
	BORDER-RIGHT: #d6d6d6 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #fff 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #d6d6d6 1px solid;
	BACKGROUND-COLOR: #f8f8f8;
	TEXT-ALIGN: left
}
.row4 {
	BORDER-RIGHT: #d6d6d6 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #fff 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #d6d6d6 1px solid;
	BACKGROUND-COLOR: #f8f8f8;
	TEXT-ALIGN: left
}
.row1h {
	BORDER-RIGHT: #d6d6d6 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #fff 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #d6d6d6 1px solid;
	BACKGROUND-COLOR: #f8f8f8;
	TEXT-ALIGN: left
}
.row1h-new {
	BORDER-RIGHT: #d6d6d6 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #fff 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #d6d6d6 1px solid;
	BACKGROUND-COLOR: #f8f8f8;
	TEXT-ALIGN: left
}
.row2h {
	BORDER-RIGHT: #d6d6d6 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #fff 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #d6d6d6 1px solid;
	BACKGROUND-COLOR: #f8f8f8;
	TEXT-ALIGN: left
}
.row3h {
	BORDER-RIGHT: #d6d6d6 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #fff 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #d6d6d6 1px solid;
	BACKGROUND-COLOR: #f8f8f8;
	TEXT-ALIGN: left
}
.row1hHover {
	BORDER-RIGHT: #d6d6d6 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #fff 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #d6d6d6 1px solid;
	BACKGROUND-COLOR: #f8f8f8;
	TEXT-ALIGN: left
}
.row1h-newHover {
	BORDER-RIGHT: #d6d6d6 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #fff 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #d6d6d6 1px solid;
	BACKGROUND-COLOR: #f8f8f8;
	TEXT-ALIGN: left
}
.gen {
	FONT-SIZE: 12px
}
.gensmall {
	FONT-SIZE: 10px
}
.forumline TH {
	BORDER-RIGHT: #d6d6d6 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	BACKGROUND: url(img/menu.gif) #b70000;
	PADDING-BOTTOM: 0px;
	BORDER-LEFT: #fff 1px solid;
	COLOR: #fff;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #d6d6d6 1px solid;
	WHITE-SPACE: nowrap;
	HEIGHT: 24px
}
.forumline .row-header {
	BORDER-RIGHT: #cfdade 1px solid;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #dce1ee 1px solid;
	PADDING-LEFT: 0px;
	BACKGROUND: #00004d;
	PADDING-BOTTOM: 0px;
	VERTICAL-ALIGN: top;
	BORDER-LEFT: #dce1ee 1px solid;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #cfdade 1px solid;
	HEIGHT: 27px;
	TEXT-ALIGN: left
}
.forumline P.row-header {
	HEIGHT: 25px
}
.forumline .row-header SPAN {
	DISPLAY: block;
	PADDING-LEFT: 4px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	COLOR: #edeff4;
	LINE-HEIGHT: 1.2em;
	PADDING-TOP: 4px
}
.row-header A {
	COLOR: #fff;
	TEXT-DECORATION: underline
}
.row-header A:visited {
	COLOR: #fff;
	TEXT-DECORATION: underline
}
.row-header A:hover {
	COLOR: #fff;
	TEXT-DECORATION: underline
}
.row-header A:active {
	COLOR: #fff;
	TEXT-DECORATION: underline
}
.forumline {
	BORDER-RIGHT: #2b438f 1px solid;
	BORDER-TOP: #2b438f 1px solid;
	BORDER-LEFT: #2b438f 1px solid;
	BORDER-BOTTOM: #2b438f 1px solid;
	BACKGROUND-COLOR: #f8f8f8
}

