.slideshow {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.slide {
	list-style-type: none;
	position: relative;
	float: left;
	width: 100%;
}

.slide div.thumb {
	background: #fff;
	width: 100px;
	height: 75px;
	border: 1px solid #000;
	font-size: 12px;
	font-family: "Arial", serif;
	overflow: hidden;
	vertical-align:middle;
}

.slide .view {
	padding: 0px 0px;
	margin: 0px 0px;
	cursor: text;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	background-color: #eee;
	height: 18px;
	vertical-align:middle;
}
.view:hover {
	background-color: #ffffcc;
}
.view, .inplace {
	font-family:Geneva;
	font-size:10px;
	width: 100px;
}

.inplace {
	position: absolute;
	visibility: hidden;
	z-index: 10000;
	background-color: #ffffcc;
}
#slideEditors input.inplace {
	max-width: 100px;
	width: 100px;
	margin-left: 1px;
	overflow:hidden;
	font-size: 13px;
	font-family: "Arial", serif;
}
#slideEditors input.inplace, #slideshow .view {
	text-align: left;
	overflow:hidden;
	vertical-align:middle;
}

.handle {
	cursor: move;
}