body {
	padding-right: 0px;
	padding-left: 0px;
	font-size: 14px;
	background-color: #FFF;
	
	padding-bottom: 0px;
	margin: 5px;
	color: #000;
	padding-top: 0px;
	font-family: verdana;
	margin: 0px;
}

a {
	color: #43589a
}

#main_body {
	background: #fff
}
.border12 {
	background: #fff;
	border: 1px solid #888;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}
.navlist a {
	display: block;
	font-size: 8pt;
	background: #f5f5f5;
	color: #000;
	border-bottom: #fff 2px solid;
	text-align: left;
	text-decoration: none;
	padding: 6px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}
.navlist a:hover {
	background: #D8F5FF;
	color: #333;
	font-weight: bold;
	border-bottom: #fff 2px solid
}
.navlist li {
	display: inline
}
.navlist {
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	margin: 2px;
	padding-top: 2px
}
a:hover {
	color: #ff1010;
	text-decoration: none
}
.formline th {
	border-right: #d6d6d6 1px solid;
	font-weight: bold;
	font-size: 11px;
	color: #fff;
	padding-top: 0px;
	height: 24px;
	text-align: center;
	padding: 8px 0px;
	background: #0675ba; /* Old browsers */
	background: -moz-linear-gradient(top,  #0675ba 0%, #5da0c7 69%, #80b7d0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0675ba), color-stop(69%,#5da0c7), color-stop(100%,#80b7d0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0675ba 0%,#5da0c7 69%,#80b7d0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0675ba 0%,#5da0c7 69%,#80b7d0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0675ba 0%,#5da0c7 69%,#80b7d0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0675ba 0%,#5da0c7 69%,#80b7d0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0675ba', endColorstr='#80b7d0',GradientType=0 ); /* IE6-9 */
}

.trashTopHeader th {
	background: #ba0606; /* Old browsers */
	background: -moz-linear-gradient(top,  #ba0606 0%, #f33011 50%, #824a4a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ba0606), color-stop(50%,#f33011), color-stop(100%,#824a4a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ba0606 0%,#f33011 50%,#824a4a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ba0606 0%,#f33011 50%,#824a4a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ba0606 0%,#f33011 50%,#824a4a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ba0606 0%,#f33011 50%,#824a4a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba0606', endColorstr='#824a4a',GradientType=0 ); /* IE6-9 */
}
.formline .row-header {
	border-right: #cfdade 1px solid;
	padding-right: 0px;
	border-top: #dce1ee 1px solid;
	padding-left: 0px;
	background-color: #00004d;
	padding-bottom: 0px;
	vertical-align: top;
	border-left: #dce1ee 1px solid;
	padding-top: 0px;
	border-bottom: #cfdade 1px solid;
	height: 27px;
	text-align: left
}
.formline {
}
.row1 {
	border-right: #d6d6d6 1px solid;
	border-bottom: #d6d6d6 1px solid;
	background-color: #FFF;
	height: 40px;
}

.rowContainer:hover .row1, .rowContainer:hover .row2 {
	background-color: #DEDEDE;
	cursor: pointer;
}

.formline_edit th {
	padding: 12px 6px;
	text-align: left;
}

.formline_edit td {
	position:relative;
}

.formline_edit td, .formline_edit th {
}

.formline_edit tr:hover td, .formline_edit tr:hover th {
	background-color: #EAEAEA;
	cursor: pointer;
}


.formline_edit tr:hover td .tipsContent{
	
	visibility:visible;
}

.row2 {
	border-right: #d6d6d6 1px solid;
	border-bottom: #d6d6d6 1px solid;
	background-color: #EEE;
	height: 40px;
}
.rowheader {
	padding-left: 4px;
	font-weight: bold;
	font-size: 14pt;
	color: #333333;
	line-height: 1.2em;
	padding-top: 4px
}
.header {
	font-size: 8pt;
	background: #618dc5;
	color: #fff
}
input {
	border-right: #ccc 1px solid;
	border-top: #ccc 1px solid;
	font-size: 9pt;
	background: #fff;
	border-left: #ccc 1px solid;
	color: #000;
	border-bottom: #ccc 1px solid;
	margin: 4px 0px;
}
input[disabled="disabled"] {
	color: #ccc;
}

input[type="text"] , input[type="password"] {
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	width:400px;
	height: 24px;
	padding:4px 16px;
}

input[type="radio"] {
	margin: 4px;
	margin-left: 16px;
	cursor: pointer;
}
input[type="checkbox"] {
	margin: 4px;
	cursor: pointer;
	width:1.5em;
	height:1.5em;
	vertical-align: middle;
}
select {
	border: #ccc 1px solid;
	font-size: 9pt;
	cursor: pointer;
	width: 434px;
	height: 32px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	padding:4px ;
}
select > option {
	height: 24px;
}

.formline_edit fieldset{
	
	margin:16px;
	padding:8px;
}

.checkboxContainer{
	min-width:240px;
	display:inline-block;
	cursor: default;
}

.checkboxContainer label{
		padding:8px;
}

.checkboxContainer label:hover{
	cursor:pointer;
	background-color:#DDD;
}

.formline_edit fieldset label:hover{
	background-color:#DDD;
}

.formline_edit fieldset label{
	cursor:pointer;
	padding:8px;
}


.formline_edit .radioInput label{
	
	cursor:pointer;
	padding:8px;
}

.formline_edit .radioInput label:hover{
	
	background-color:#DDD;
}

input:hover {
	border-right: #000 1px solid;
	border-top: #000 1px solid;
	border-left: #000 1px solid;
	border-bottom: #000 1px solid
}
textarea:hover {
	border-right: #000 1px solid;
	border-top: #000 1px solid;
	border-left: #000 1px solid;
	border-bottom: #000 1px solid
}
textarea {
	border-right: #ccc 1px solid;
	border-top: #ccc 1px solid;
	font-size: 10pt;
	background: #fff;
	border-left: #ccc 1px solid;
	color: #000;
	border-bottom: #ccc 1px solid
}
img {
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	border-bottom: 0px
}
.catbottom {
	border-right: #d6d6d6 1px solid;
	padding-right: 5px;
	border-top: #fff 1px solid;
	padding-left: 5px;
	background: url(img/bg_catbottom.gif) #fdfdfd repeat-x left top;
	padding-bottom: 5px;
	border-left: #fff 1px solid;
	padding-top: 5px;
	border-bottom: #d6d6d6 1px solid
}
.langbtn {
	cursor: pointer;
	padding: 3px;
	width: 47px;
	border: 1px solid #c0c0c0;
	margin-right: 10px;
}
.langbtn.curr {
	color: #ffffff;
	background-color: #618dc5;
	font-weight: bold;
}

/*from slide.css*/
.slideshow {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#logoutBtn {
	text-decoration: none;
	padding: 8px;
	width: 50%;
}

#logoutBtn:hover {
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	background-color: #CCC;
	opacity: 0.7;
	color: #000;
}

body, html {
	width: 100%;
	height: 100%;
}

#leftPanel {
	width: 100%;
	max-width: 200px;
	height: 100%;
	background-color: #353535;
	position: absolute;
	
	overflow-y: auto;
	overflow-x: hidden;
	
}

#leftPanel a {

	text-decoration: none;
}

#topSection {
	width: 100%;
	max-height: 80px;
	margin:8px 0px;
	color:#EEE;
}
#topSection:hover{
	opacity:0.8;
}
#topSection img {
	margin:8px;
	width:20%;
	vertical-align: middle;
}
#welcome_login{
	text-align:center;
	margin:auto;
	color:#EEE;
	margin:6px;
}

.leftmenu_btnContainer {
	margin: 40px 0px 20px 0px;
	width: 100%;
}

.leftmenu_sectionTitle {
	color: #CCC;
	font-weight: bold;
	text-align: left;
	padding: 4px 8px;
	border-bottom: 2px solid #444;
}

.leftmenu_section .leftmenu_item {
	color: #FFF;
	padding: 6px 0px 6px 15px;
	width: 80%;
}

.leftmenu_section .leftmenu_item:hover {
	background-color: skyblue;
	color: #FFF;
}

.leftmenu_section .leftmenu_item.submenu {
	color: #EEE;
	padding: 6px 0px 6px 15px;
	padding-left:30px;
	width: 80%;
}



.leftmenu_section hr {
	border: 0;
	height: 1px;
	width: 90%;
	background-color: #444;
}

#leftPanel .btnItem {
	background-color: #444;
	color: #EEE;
	border: 0px;
	margin: 8px;
}
#leftPanel .btnItem:hover {
	background-color: #BBB;
	border: 0px;
}
a.btnItem{
	text-decoration:none;
	color:#222;
}
.btnItem {
	padding: 8px 12px;
	color: #222;
	text-align: center;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	background-color: #FFF;
	border: 1px solid #C0C0C0;
	cursor: pointer;
}

.btnItem:hover {
	background-color: #DDD;
	border: 1px solid #EEE;
	opacity: 0.9;
}

.pageTitle {
	font-weight: bold;
	font-size: 250%;
	padding: 8px 16px;
}
.pageTitle:hover {
	opacity: 0.6;
}


.btnItem.infoBtn {
	background-color: #2c6b75;
	color: #FFF;
}

.btnItem.infoBtn:hover {
	background-color: #0080DD;
}

.btnItem.warnBtn {
	background-color: #d9534f;
	color: #FFF;
}

.btnItem.warnBtn:hover {
	background-color: #DD0000;
}

.btnItem.excelItem {
	background-color: #5cb85c;
	color: #FFF;
}

.btnItem.excelItem:hover {
	background-color: #22A322;
}



.btnItem.excelItem.disabled {
	background-color: #99CC99;
}
.btnItem.excelItem.disabled:hover {
	background-color: #99CC99;
}


.btnItem.submitItem{
	background-color:#B9E2FF;
}

.btnItem.submitItem:hover{
	background-color:#6AC1FF;
}


.btnItem.pageSelected{
	background-color:#EEE;
}

.btnItem.paging{
	margin:0px 2px;
}

.sortArrowIcon {
	width: 20px;
	padding: 4px;
	vertical-align: middle;
}
.sortArrowIcon:hover {
	opacity: 0.6;
}

.tableTopHeader th:first-child {
	-webkit-border-radius: 4px 0 0 0;
	border-radius: 4px 0 0 0;
}
.tableTopHeader th:last-child {
	-webkit-border-radius: 0 4px 0 0;
	border-radius: 0 4px 0 0;
}

#mainFrame {
	/*width:80%;
	 display: inline-block;*/
	height: 100%;
	overflow: scroll;
}

#leftNav {
	/*width: 200px;
	 height: 100%;
	 display: inline-block;
	 */
	min-width: 200px;
	height: 100%;
	display: inline-block;
	float: left;
}

#listbody {
	width: 100%;

	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	/*display:table;*/
}

#editTable, #listTable{
	margin:16px;
	padding:16px;
	width: 96%;
	border:1px solid #CCC;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	background-color: #F5F5F5;
}


#editTable .tab ul{
	display: block; 
	margin:0 ; padding: 0;
	width: 100%;
}

#editTable .tab li {
    width: 220px;
    display: inline-block;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.5em
}

#editTable .tab li.active, #editTable .tab li:hover, #editTable .tab li:hover a {
	background-color: #43589a;
	color: white;
}

.tipsContent{
	padding:16px;
	margin:0px 60px;
	vertical-align: middle;
	position: absolute;
	min-width:200px;
	width:30%;
	right: 10%;
	top: 0px;
	background-color:pink;
	display:inline-block;
	visibility:hidden;
	background-color:#FAFAFA;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	border:1px solid #DDD;
	z-index:2;
}

.tipsContent>div{
	font-weight:bold;
	padding:0px 0px 8px 0px;
	text-decoration:underline;
	
}


.errorContainer{
	display: inline-block;
	color:red;
	padding:0px 16px;
	opacity:0;
	
}


ul.product_inv {
	margin:0px; padding: 0px;
	display: inline-flex;
}
ul.product_inv li {
	list-style:none; float:left; display: inline-block; 
	width:135px; height:40px; font-size:10pt; text-align: center;   
	background: url() center center no-repeat #FFFFFF;
	position:relative;}
ul.product_inv:nth-child(2n) li{
    background-color:#EFEFEF;
}

ul.product_inv li:nth-child(2) a{
    position:absolute;
    right:0px; 
    top:0px;
    padding-right:10px;
}

ul.product_inv li img {
	max-height:40px;
    max-width:30px;
}
ul.product_inv li  input{
    position:absolute;    
    top:-1px;
    left:0px;
    width:65px;
    padding:4px;
}
ul.product_inv li:nth-child(2)  input{
    width:120px;
 
}
ul.product_inv li  input[type=file]{
    opacity:0;
    z-index:999;
}
ul.product_inv li select { 
    width:100px;
    position:absolute;    
    top:4px;
    left:0px;
    
}

ul.product_inv img {
	height:180px; max-width:180px; 
}



ul.product_inv li#create_new {
	border: 5px dotted #808080; border-radius: 20px; background: ;
	height:240px; width:180px; font-size:20pt; text-align: center; line-height: 300px;
	background: url(../images/icon_add.png) center 25% no-repeat #FFFFFF; 
	background-size: 100px 100px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  box-sizing : border-box;
}

.row * {box-sizing : border-box;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;

}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}

.json_row {
	display: inline-block;;
}
.json_row input, .json_row select {
	width: 128px;
}
 .json_row select {
	margin-top: 6px;
}
#panelMsg {
	border: 1px solid #CCCCCC;
	height: 500px;
	resize: none;
	width: 100%;
}

.formline_edit { width: 80%; }
#sideLog {
	float:right; 
	height: 0;
	overflow: visible;
	width: 20%;
}
#sideLog .logs {
	display: none;
}
